html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    color: black;
    background-color: #F2F3F5;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Open Sans";
    --content-width: 50vw;
}

.pageContainer{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img{
    display: flex;
    width: 40vw;
    height: auto;
    margin-right:0px;
    border-radius: 20px;
}

.content {
    width: var(--content-width);
}

#preForm {
    padding-bottom: 10px;
}

.preFormText{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}

em {
    font-style: italic;
    font-weight: bolder;
}

#whiteSection {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    height: 280px;
    width: var(--content-width);
    border-radius: 20px;
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    max-height: 25px;
    min-height: 25px;
}

#legendText {
    grid-column: 1 / 3;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}

label {
    font-size: 20px;
}

input {
    border-radius: 5px;
    border-color: #E5E6E8;
    border-style: solid;
    width: 175px;
    height: 90px;
    font-size: 16px;
}

input:hover{
    border-color: #888888;
    box-shadow: 2px 2px 8px grey;
}

.errorMessage{
    font-size: 10px;
    color: #ff8888;
}

button {
    margin: 15px;
    margin-top: 20px;
    border-color: #aaaaaa;
    background-color: #aaaaaa;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 25px;
    font-size: 16px;
}

button:hover{
    border-color: #888888;
    box-shadow: 2px 2px 8px grey;
}

.postForm {
    margin-left: 15px;
    font-size: 18px;
}